{% extends 'template.view.html.twig' %}


{% block section_slider %}

<section class="slider mt-4">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
					<div class="slider-item">
						<div class="slider-item-content">                        
							<div class="post-thumb mb-4">
								<a href="blog-single.html">
									<img src="images/news/error.jpg" alt="" class="img-fluid">
								</a>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}