{% extends "/publicView/public.home.view.twig" %}

{% block content %}


    {% block banner %}
        <div class="banner text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <h1 class="mb-5">Qu’aimeriez-vous <br>Lire Aujourd’Hui?</h1>
                        <h3 class="mb-5">Choisissez parmi les suivantes</h3>

                        <ul class="list-inline widget-list-inline">
                            {% block list %}
                                {% for user in users %}
                                    <li class="list-inline-item"><a href="?route=select&selection=author&id={{ user.getUserID() }}">{{ user.getUserFullName() }}</a></li>
                                {% endfor %}

                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

